<p id="notice"><%= notice %></p>

<h2>All Newsletters</h2>

<% @newsletters.each do |newsletter| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= newsletter.title %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= newsletter.description %>
      </p>
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to 'Deliver', deliver_newsletter_path(newsletter), class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_newsletter_path(newsletter), class: 'btn btn-default' %>
        <%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'New Newsletter', new_newsletter_path, class: 'btn btn-primary pull-right' %>
<div class="clearfix"></div>