<h1>All the books</h1>
<% @books.each do |book| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= book.title %></h3>
    </div>
    <div class="panel-body">
      <p>
        <%= book.description %>
      </p>

      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-default' %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
<% end %>
<br>
<br>
<div style="float: left">
<%= link_to 'New Book', new_book_path, class: 'btn btn-primary pull-right' %>
</div>
<div class="clearfix"></div>