<p id="notice"><%= notice %></p>

<h2>All Subscribers</h2>

<% @subscribers.each do |subscriber| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <%= subscriber.name %>
      </p>
      <p>
        <%= subscriber.email %>
      </p>
      <div class="btn-group pull-right" role="group" aria-label="...">
        <%= link_to 'Edit', edit_subscriber_path(subscriber), class: 'btn btn-default' %>
        <%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'New Subscriber', new_subscriber_path, class: 'btn btn-primary pull-right' %>
<div class="clearfix"></div>