<!DOCTYPE html>
<html>
<head>
  <title>Boilerplate rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <%= menu_item('Home', '/') %> 
          <%= menu_item('Newsletters', newsletters_path) %> 
          <%= menu_item('Subscribers', subscribers_path) %> 
        </ul>
      </nav>
      <h3 class="text-muted">Boilerplate rails</h3>
    </div>

    <%= yield %>

    <footer class="footer">
      <p>© Company <%= Time.zone.now.year %></p>
    </footer>

  </div>

</body>
</html>
